header {
    
    background-image: linear-gradient(to bottom, rgba(208, 12, 5, 0.6), rgba(236, 84, 54, 0.6)), url('./images/bg-pattern-intro-mobile.svg');
    background-size: cover;
    border-bottom-left-radius: 5rem;

    @media screen(min-width: 768px) {
      background-image: linear-gradient(to bottom, rgba(208, 12, 5, 0.6), rgba(236, 84, 54, 0.6)), url('./images/bg-pattern-intro-desktop.svg');
      background-size: cover;
      border-bottom-left-radius: 5rem;
    }
}

  header button{  
  border: 2px solid white;
  border-radius: 15px;
  opacity: 1;
 } 


.infra picture{ 
  
  margin-bottom: -12rem;
  transform: translateY(-50%); 
  animation: assai-in 0.8s ease-in-out;
  
}
@keyframes assai-in {
  from {
    transform: translateX(-100%);
  }to{
    transform: translateX(0);
  }
}

 infra picture img{
  width: 375px;
   
}

 .menumobile {

  width: 90vw;
  height: 45vh;  
  top: 6rem;
  left: 1.2rem;
  padding: 2rem;
  border-radius: 0.8rem;
  
 
}
@media screen and (min-width: 768px) {
  .menumobile {    
    flex-direction: row;
    top: 0;
    left: 6.8rem;
  }
}
 /*
@media screen and (min-width: 768px)
  .imagefuture{
    position: -1;
  }
*/


footer{
  background-color:hsl(240, 10%, 16%);
  border-top-right-radius: 5rem;
}
